html{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: black;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Secrcode';
  src: url("/home/ash/Projects/loyalty-program/react/public/SourceCodePro-Bold.ttf");

}